<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="base :: head"/>
<body>
<div th:replace="base :: header"/>

<div id="main">
    <form class="form" th:object="${picture}" th:action="@{/addNew}" method="post" onsubmit="validation()">
        <div class="form-group">
            <label for="name" class="label">Name</label>
            <input class="form-control" type="text" id="name" th:field="*{name}">
        </div>
        <div class="form-group">
            <label for="name" class="label">Release Year</label>
            <input class="form-control" type="number" id="year" th:field="*{year}">
        </div>
        <div class="form-group">
            <label for="name" class="label">Image URL</label>
            <input class="form-control" type="text" id="ImageURL" th:field="*{imageUrl}">
        </div>
        <div class="form-group">
            <label for="name" class="label">Genre</label>
            <select for="genre" th:field="*{genre}">
                <option value="Action">Action</option>
                <option value="Drama">Drama</option>
                <option value="Horror">Horror</option>
                <option value="Sci-fi">Sci-fi</option>
                <option value="Comedy">Comedy</option>
            </select>
        </div>
        <div class="form-group">
            <label for="name" class="label">Rank Out of 10</label>
            <select for="rank" th:field="*{rank}">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <div class="form-group">
            <div class="check">
                <div class="movieCheck">
                    <label for="name">Movie</label>
                    <input type="checkbox" id="movie" name="movie" value="Movie">
                </div>
                <div class="tvCheck">
                    <label for="name">TV Show</label>
                    <input type="checkbox" id="tv" name="tv" th:checked="*{isTVShow}" >
                </div>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</div>
</body>

<script>

    function validation(){
        var movie = document.getElementById("movie").checked;
        var tv = document.getElementById("tv").checked;
        console.log(movie)
        if (movie == tv ){
            window.alert("select only either TV or movie")
            event.preventDefault()
        }
    }

</script>
</html>